* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
   
    font-size: 62.5%;
    overflow-x: hidden;
  
  }
  
  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    background-color: #fdf2e9;
    transition: opacity 0.5s ease-in-out;
    overflow-x: hidden;
  }
  
  /* .header{
    max-width: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem 4rem;
  } */


.logo{
    height: 11rem;
}
.main-nav-link{
    color: #333;
}

.main-nav-link:link{
    text-decoration: none;
    display: block;
    color: #333;
    font-size: 2.5rem;
    margin: 3rem;
}

.main-nav-list ul{
    list-style: none;
    display: flex;
    gap: 5rem;

}

.text-name{
    font-size: 2rem;
}



.center{
    margin: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: black solid 0.3rem; */
    /* box-shadow: black 3rem 4rem ; */
}

h1{
    font-size: 4rem;
    margin-bottom: 5rem;
    margin-left: 10rem ;
}

.splacing{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    gap: 7.5rem;
}


#name{
    padding: 1rem 4rem;
    border:none;
    background-color:#fff;
    border-radius: 0.5rem;
}



/* #feedback{
    padding: 3rem 4rem;
} */

.feedback-box{
    display: flex;
    gap:4.2rem;
    /* flex-direction: ; */
    
    
    align-items: center;
}

.feedback-box label{
    font-size: 2rem;
}
.feedback-box textarea{
    padding: 1rem 4rem;
    border: none;
    background-color:#fff;


}

#feedback {
    width: 40rem;
    height: 10rem;
  }

  .submit-button{
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    background-color: #e67e22;
    border: none;
  }
  
  .submit-button:hover{
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    background-color: #e67d22a8;
    border: none;
    cursor: pointer;
  }
  .btn{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  
 