body {
  font-family: "rubik", sans-serif;
}

.feedback-form {
  position: relative;
  background-color: #fdf2e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.feedback-container {
  position: absolute;
  top: 7rem;
  left: 42rem;
  background-color: #fae5d3;
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.9rem 0.8rem rgba(0, 0, 0, 0.598);
  text-align: center;
}

.rating-container {
  margin-bottom: 3rem;
}
.rating-container p {
  margin-top: 0.5rem;
}

.stars {
  color: #ffd700;
  font-size: 3rem;
  cursor: pointer;
}

.stars i.active {
  color: #ffd700;
}

.stars i.inactive {
  color: #ccc;
}

.comment-container textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  resize: vertical;
}

.comment-container p {
  margin-bottom: 0.5rem;
}

.comment-container button {
  margin-top: 1rem;
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 4rem;
  cursor: pointer;
}
